/*
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
.tick line{
  stroke: #C0C0BB;
}
/*apply to two classes*/
/*for text class*/
.tick text, .leftlabels text, .axis-lavel{
  fill: #908a88;
}
/*for label class*/
label{ 
  color: #908a88;
}

/*for text class in color legend*/
.colorlegend {
  fill:#C0C0BB;
  font-size: 0.7em;
}

.axis-lavel, .indicator{
  font-weight: bold;
  font-size: 1.5em;
  white-space: pre-wrap;
}
.indicator {
  fill: #a6b5b9;
}

/* graph related */
.mark {
  fill:#0e834e;
}

.marksstock path{
  stroke-width: 3;
  stroke:#0e834e;
}

circle {
  opacity: 0.6;
}